*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #11002c;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to right top,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    )
    no-repeat;
}

button,
input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  padding: 0.7rem;
  border: none;
  border-radius: 0.6rem;
  background-color: #fff;
  transition: background-color 0.15s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

input[type="text"] {
  border-radius: 0.6rem;
  border: 0;
  background: rgba(255, 255, 255, 0.7);
  outline: 2.5px solid transparent;
  transition: outline 0.1s ease;
}

input[type="text"]::placeholder {
  color: rgba(17, 0, 44, 0.3);
}

input[type="text"]:focus {
  outline: 2.5px solid #52cffe;
}

#filter-input:focus {
  outline: 2.5px solid #aa8fd8;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  cursor: pointer;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  transition: background-color 0.1s ease;
}

input[type="checkbox"]:hover {
  background-color: rgba(67, 67, 254, 0.4);
}

input[type="checkbox"]:checked {
  background-color: #771dff;
}

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -65%) rotate(45deg);
  -webkit-transform: translate(-50%, -65%) rotate(45deg);
}

.container {
  margin-top: 3rem;
  background: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  border-radius: 1.2rem;
  width: 32rem;
}

#new-todo-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#new-todo-form label {
  font-size: 2.8rem;
  font-weight: bold;
}

#new-todo-form input {
  flex-grow: 1;
  padding: 1.2rem;
}

.filter-form,
.list {
  display: flex;
  flex-direction: column;
}

.filter-form {
  gap: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333;
}

.filter-form label,
.filter-form-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list-item-label {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-item-label > * {
  flex-shrink: 0;
}

.filter-form label span,
.filter-form input[type="checkbox"] {
  border-radius: 0.5rem;
}

.filter-form-group label {
  font-size: 1.6rem;
}

.filter-form-group input {
  padding: 0.4rem 0.8rem;
  flex-grow: 1;
  flex-shrink: 1;
}

.list ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list h2 {
  margin: 1rem 0;
}

.list-item {
  list-style: none;
  display: flex;
  align-items: center;
}

[data-list-item-text] {
  padding-left: 0.5rem;
}

.list-item form {
  display: flex;
  gap: 0.3rem;
  width: 100%;
  position: relative;
  height: 28.5px;
}

.list-item form input {
  padding: 0 2.6rem;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.list-item form input:focus-within {
  outline: 0;
}

[data-button-edit],
[data-button-delete] {
  flex-shrink: 0;
  width: 2.85rem;
  height: 2.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-button-edit] {
  margin-left: auto;
  margin-right: 0.3rem;
}

.list-item form [data-button-edit] {
  margin-right: 0;
}

.list-item-label,
.list-item-label:hover,
[data-list-item-checkbox]:hover {
  cursor: pointer;
}

.list-item-label:hover > [data-list-item-text],
[data-list-item-checkbox]:checked ~ [data-list-item-text] {
  text-decoration: line-through;
}

[data-list-item-checkbox]:checked ~ [data-list-item-text] {
  opacity: 0.5;
}

[data-list-item-checkbox] {
  margin-bottom: 0.3rem;
}
